<strong>Password recovery</strong>
<p>
    It seems you requested a password recovery for your account registered under
    {{ email }}
    If this message seems weird, please change your password to make sure
    you're safe
</p>
<a href={{ link }}>Reset password</a>
