<strong>Helloooo {{ username }}, how are you doing?</strong>

<p>A new task has been assigned to you!! {{ title }}</p>

@if(hasAttachment)
  <p>More detailed instructions has been sent as an attachment</p>
@endif

